#experiance {
    padding-top: 5rem;
}

.exp-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.exp-container > div{
    background: var(--color-bg-variant);
    padding: 2.5rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);

}

.exp-container > div:hover{
    background: transparent;
    border-color: var(--color-primary);
    cursor: default;
}

.exp-container > div > h3{
    color: var(--color-primary);
    text-align: center;
    margin-bottom: 2rem;

}

.exp-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 1rem;
}

.exp-details{
    display: flex;
    gap: 1rem;
    align-content: center;
}

.exp-details-icon{
    margin-top: 8px;
    color: var(--color-primary);
}

/* ======================= MEDIA QURIES (MEDIUM DEVISES) ========================== */

@media screen and (max-width: 1024px) {
    .exp-container{
        grid-template-columns: 1fr;
    }
    #experiance {
        padding-top: 1rem;
    }
    .exp-frontend{
        width: 100%;
        padding: 2rem;
        margin: 0 auto;
    }
    .exp-backend{
        width: 100%;
        padding: 2rem;
        margin: 0 auto;
    }

    .exp-content{
        padding: 1rem;
    }

}

/* ======================= MEDIA QURIES (SMALL DEVISES) ========================== */

@media screen and (max-width: 600px) {
    .exp-container{
        display: flex;
        flex-direction: column;

    }
    .exp-frontend{
        width: 100%;
    }
    .exp-backend{
        width: 100%;
    }
    #experiance {
        padding-top: 1rem;
    }
    .exp-content{
        padding: 0rem;
    }
    
}
